/* 
*****
RESET
*****
*/


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
*****
DEBUG
*****
*/

.top-header {
    height: 85px;
    background-color: #add8e6;
}

#login, #logo, #link {
    border: black dashed 1px;
    height: 50px;
    background-color: #daa520;
}

.bottom-header {
    background-color: #00008b;
    height: 520px;
}

#bottom-header-card {
    background-color: #ee82ee;
    height: 420px;
}




/* 
*****
HEADER
*****
*/



/* 
*****
TOP HEADER
*****
*/

.top-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    
}

#navbar {
    width: 1250px;
}

#login, #logo {
    width: 20%;
    display: flex;
    align-items: center;
}

#login {
    padding-right: 10px;
    justify-content: flex-end;
}

#link {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    padding-left: 10px;
}

/* 
*****
BOTTOM HEADER
*****
*/

.bottom-header {
    display: flex;
}

#bottom-header-card {
    width: 950px;
}
