/* 
*****
RESET
*****
*/


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
*****
DEBUG
*****
*/

.top-header {
    height: 85px;
    background-color: #add8e6;
}

#login, #logo, #link {
    border: black dashed 2px;
    height: 50px;
    background-color: #daa520;
}

.bottom-header {
    background-color: #00008b;
    height: 520px;
}

#bottom-header-card {
    background-color: #ee82ee;
    height: 420px;
    border: black dashed 2px;
}

section {
    height: 630px;
    background-color: white;
}

main section:nth-child(odd) {
    height: 630px;
    background-color: white; 
  }

main section:nth-child(even) {
    background-color: #d3d3d3; 
  }

.bottom-section {
    height: 1050px;
}

.section-card {
    height: 520px;
    border: black dashed 2px;
}

.content-box {
    background-color: #1e90ff;
    border: black dashed 2px;
}

.column {
    background-color:#ffc0cb;
    border: black dashed 2px;
}

.bottom-card {
    background-color: #228b22;
    height: 950px;
    border: black dashed 2px;
}

footer {
    background-color: #23272a;
}

.top-footer {
    height: 670px;
}

.bottom-footer {
    height: 120px;
}

.top-footer-card {
    height: 620px;
    
}

.top-footer-card div:first-child {
    background-color: #f08080;
    border: black dashed 2px;
  }

.top-footer-card div:not(:first-child) {
    background-color: #20b2aa;
    border: white dashed 2px;
  }




  

/* 
*****
HEADER
*****
*/



/* 
*****
TOP HEADER
*****
*/

.top-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    
}

#navbar {
    width: 1250px;
}

#login, #logo {
    width: 20%;
    display: flex;
    align-items: center;
}

#login {
    padding-right: 10px;
    justify-content: flex-end;
}

#link {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    padding-left: 10px;
}

/* 
*****
BOTTOM HEADER
*****
*/

.bottom-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom-header-card {
    width: 950px;
}

/* 
*****
MAIN
*****
*/


/* 
*****
SECTION
*****
*/

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-card {
    width: 1250px;
    display: flex;

}

.content-box {
    flex-grow: 1;
}

.column {
    min-width: 500px;
    flex-shrink: 0;
}

.reverse {
    flex-direction: row-reverse;
}

/* 
*****
BOTTOM SECTION
*****
*/


.bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-card {
    width: 1250px;
}

/* 
*****
FOOTER
*****
*/

/* 
*****
TOP FOOTER
*****
*/

.top-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-footer-card {
    width: 1250px;
    display: flex;
}

.top-footer-card div:first-child {
    background-color: #f08080; /* Example background color */
  }

  .top-footer-card div:first-child {
    flex: 2;
  }

.top-footer-card div:not(:first-child) {
    flex: 1;
  }


/* 
*****
BOTTOM FOOTER
*****
*/

.bottom-footer {
    display: flex;
    border-top: white solid 2px;
    border-bottom: white solid 1px;
}



